{% extends 'main/parts/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %} Dashboard {% endblock %}

{% block body %}
<body class="bg-slate-100">
{% endblock %}

{% block content %}
    <!--Dash Board-->
        <div class="container max-w-full mt-10 pt-10 mb-7">
            <div class="container max-w-full flex flex-wrap">
                <div id="total-order" class="border border-gray-300 mb-5 shadow-md w-72 h-52 rounded-xl bg-white ml-4 mr-2">
                    <h1 class="mt-2 ml-2 font-bold">Total Product Sold</h1>
                    <div class="mt-10">
                        <h1 class="container max-w-full flex justify-center text-5xl">{{total_product_sold}}</h1>
                    </div>
                </div>

                <div id="total-order" class="border border-gray-300 mb-5 shadow-md w-72 h-52 rounded-xl bg-white ml-4 mr-2">
                    <h1 class="mt-2 ml-2 font-bold">Total Sales</h1>
                    <div class="mt-10">
                        <h1 id="total-sale" class="container max-w-full flex justify-center text-5xl">{{total_sale}}</h1>
                    </div>
                </div>

                <div id="total-order" class="border border-gray-300 mb-5 shadow-md w-72 h-52 rounded-xl bg-white ml-4 mr-2">
                    <h1 class="mt-2 ml-2 font-bold">Total Orders</h1>
                    <div class="mt-10">
                        <h1 class="container max-w-full flex justify-center text-5xl">{{total_orders}}</h1>
                    </div>
                </div>
            </div>
            <div id="total-order" class="border border-gray-300 mb-5 shadow-md rounded-xl bg-white ml-4 mr-2">
                <div class=" rounded-xl bg-white">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>

    <!--Dont Remove This-->
    </div>
{% endblock %}


{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script>
        const ctx = document.getElementById('myChart');
        const total_sale = document.querySelector('#total-sale')

        new Chart(ctx, {
          type: 'line',
          data: {
            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            datasets: [{
              label: 'Total sale per month',
              data: [0, 0, 0, 0, parseInt(total_sale.textContent)],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
{% endblock %}