{% extends 'main/parts/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %} Products {% endblock %}

{% block body %}
    <div class="bg-slate-100">
{% endblock %}


{% block sidebar %}
{% endblock %}


{% block content %}
            <div class="container max-w-full flex flex-col mt-16 pt-4 ">
            
                <!--Categories-->
                <h1 class="text-xl ml-4 absolute">Categories</h1>
                <div class="container max-w-full pr-80 flex flex-wrap relative pl-28">

                    {% for category in categories %}
                        <a class="w-auto ml-4 h-auto border container mb-2 rounded-lg shadow-md border-gray-300 py-1 px-16 text-white bg-button" href="/products/{{category.product_category}}"><div class="">
                            <div class="container max-w-full flex justify-center">
                                <div class="w-auto h-auto">
                                    <h1 class="text-center font-bold">{{ category.product_category }}</h1>
                                </div> 
                            </div>
                        </div></a>
                    {% endfor %}

                </div>

                <!--Products-->
                <div class="container max-w-full mt-6 pr-80 pl-14 flex flex-wrap">
                    {% for product in products %}
                        <a onclick="add_product(this)" product_name="{{product.product_name}}" product_price="{{product.product_price}}" class="hover:cursor-pointer w-60 h-60 mr-5 mb-6"><div class="container w-60 h-60 relative mr-2 shadow-lg border mb-6 border-gray-300 rounded-xl bg-white ml-4">
                            <div class="w-20 h-7 absolute rounded-tl-lg rounded-br-md top-0" style="background-color: rgba(0, 0, 0, 0.568);">
                                <h1 class="font-bold text-center text-white">{{product.product_code}}</h1>
                            </div>
                            <div class="container max-w-full">
                                <img src="{{ product.product_img.url }}" class="w-screen rounded-t-lg h-36" alt="">
                            </div>
                            <div class="container max-w-full px-2">
                                <h1 class="text-center mt-2 font-bold">{{ product.product_name }}</h1>
                                <h1 class=" mt-2 absolute bottom-2 right-4 font-bold">P{{ product.product_price }}</h1>
                            </div>
                        </div></a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container fixed top-0 right-0 bg-white w-80 h-screen border pt-2 border-gray-300">
            <h1 class="mt-16 ml-4 text-xl font-bold">Invoice</h1>

            <div class="container w-full px-2 mt-2 h-96 overflow-y-auto">

                <div id="product-container" class="container max-w-full flex flex-col justify-center">

                </div>

            </div>

            <h1 class="text-xl mt-2 ml-6 font-bold mb-2">Total: </h1>
            <div class="container max-w-full flex h-10 justify-center ">
                <button class="px-20 rounded-lg font-bold bg-button text-white text-xl">Order</button>
            </div>
        </div>
{% endblock %}

{% block script %}
    <script>
        function add_product(_this){
            const product_name = _this.getAttribute('product_name')
            const product_price = _this.getAttribute('product_price')

            let new_div = document.createElement('div')
            new_div.classList.add('w-72', 'border-t', 'border-t-gray-300', 'pl-8', 'py-4')
            new_div.id = product_name

            new_div.innerHTML = `
                <div class=" flex flex-col">
                    <h1 class="font-bold">${product_name}</h1>
                    <div>
                        <div class="flex container max-w-full">
                            <div class="flex-1 flex mt-2 container max-w-full">
                                <h1 class="mr-2 text-end">Qty:</h1>
                                <input type="number" product_name="${product_name}" class="border pl-2 w-16 border-gray-300 rounded-md" value="1">
                            </div>
                            <h1 class="mt-2 font-bold">Price: ${product_price}</h1>
                        </div>
                    </div>
                </div>`

            document.querySelector('#product-container').appendChild(new_div)
        }
    </script>
{% endblock %}